<mat-tab-group mat-align-tabs="center" selectedIndex="0" (selectedTabChange)="changeTab($event)">
        <mat-tab label="Billing Portal">
                <ng-template matTabContent>
                        <app-billing-portal></app-billing-portal>
                </ng-template>
        </mat-tab>
        <mat-tab label="Saved Billing Data">
                <ng-template matTabContent>
                        <app-billing-data></app-billing-data>
                </ng-template>
        </mat-tab>
        <mat-tab label="Billing Items">
                <ng-template matTabContent>
                        <app-items></app-items>
                </ng-template>
        </mat-tab>
        <mat-tab label="Day Billing Info">
                <ng-template matTabContent>
                        <app-billing-day-info></app-billing-day-info>
                </ng-template>
        </mat-tab>
</mat-tab-group>