<h2 mat-dialog-title>Billing Items</h2>
<div mat-dialog-content>
<div class="item-elements">
  <mat-form-field class="billnumber-form-field">
    <mat-label>Bill Number</mat-label>
    <input matInput type="number" [(ngModel)]="billNumber" disabled>
  </mat-form-field>
  <mat-form-field class="quantity-form-field">
    <mat-label>Bill Date</mat-label>
    <input matInput type="number" [(ngModel)]="billDate" disabled>
  </mat-form-field>
  <mat-form-field class="totalAmount-form-field">
    <mat-label>Total Amount</mat-label>
    <input matInput type="number" [(ngModel)]="totalAmount" disabled>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- ItemCode Column -->
      <ng-container matColumnDef="itemCode">
        <th mat-header-cell *matHeaderCellDef> ItemCode </th>
        <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
      </ng-container>
  
      <!-- ItemName Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef> ItemName </th>
        <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
      </ng-container>
  
      <!-- ItemQauntity Column -->
      <ng-container matColumnDef="itemQuantity">
        <th mat-header-cell *matHeaderCellDef> ItemQuantity </th>
        <td mat-cell *matCellDef="let element"> {{element.itemQuantity}} </td>
      </ng-container>
  
      <!-- ItemPrice Column -->
      <ng-container matColumnDef="itemPrice">
        <th mat-header-cell *matHeaderCellDef> ItemPrice </th>
        <td mat-cell *matCellDef="let element"> {{element.itemPrice}} </td>
      </ng-container>

      <!-- ItemPrice Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> TotalPrice </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </div>
  <div class="mat-dialog-actions" mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
