.item-elements {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.record-count label {
    font: bold;
}

.mat-elevation-z8 {
    height: 400px;
    overflow-x: scroll;
}

::ng-deep .warning {
    background-color: red;
}

::ng-deep .success {
    background-color: black;
}

::ng-deep .warning .mat-simple-snackbar-action {
    color: white !important;
}