<div class="parent">
  <div class="item-elements">
    <app-ng-input [label]="'Item Code'" (value)="itemCodeValue=$event" [type]="number" [icon]="'close'"
      [model]="itemCodeValue"></app-ng-input>
    <app-ng-input [label]="'Item Name'" (value)="itemNameValue=$event" [type]="text" [icon]="'close'"
      [model]="itemNameValue"></app-ng-input>
    <app-ng-input [label]="'Item Price'" (value)="itemPriceValue=$event" [type]="number" [icon]="'close'"
      [model]="itemPriceValue"></app-ng-input>
    <app-ng-button [btnIcon]="'save'" (click)="saveItem()"></app-ng-button>
    <app-ng-button [btnIcon]="'print'" (click)="print()"></app-ng-button>
  </div>

  <div class="record-count">
    <app-ng-label [label]="'RecordCount'"></app-ng-label>
    <app-ng-label [label]="recordCount"></app-ng-label>
  </div>
  <div class="mat-elevation-z8">
    <app-ng-table [tableData]="dataSource" [displayedColumns]="displayedColumns" (rowClick)="showDialog($event)">
    </app-ng-table>
  </div>

</div>