<div class="parent-class">
  <div class="save-print-buttons">
    <button mat-raised-button (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button (click)="print()">
      <mat-icon>print</mat-icon>
    </button>
  </div>
  <div class="time-and-bill">
    <app-ng-label [label]=[date]></app-ng-label>
    <app-ng-label [label]=[time]></app-ng-label>
    <app-ng-label [label]=[billNumber]></app-ng-label>
    <!-- <mat-label>{{date}}</mat-label>
    <mat-label>{{time}}</mat-label>
    <mat-label>BillNumber:{{billNumber}}</mat-label> -->
  </div>
  <div class="item-elements">
    <mat-form-field class="itemname-form-field">
      <input type="text" aria-label="Number" matInput [formControl]="itemNameValue" [matAutocomplete]="auto">
      <mat-label>Item Name</mat-label>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="getItemData($event,option)" *ngFor="let option of filteredOptions | async"
          [value]="option.itemName">
          {{option.itemName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="itemcode-form-field">
      <mat-label>Item Code</mat-label>
      <input matInput type="number" [(ngModel)]="itemCodeValue" disabled>
    </mat-form-field>
    <mat-form-field class="quantity-form-field">
      <mat-label>Item Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="itemQuantiyValue" (change)="quantityChange()">
      <button mat-button *ngIf="itemQuantiyValue" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemQuantiyValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="price-form-field">
      <mat-label>Item Price</mat-label>
      <input matInput type="number" [(ngModel)]="itemPriceValue" disabled>
    </mat-form-field>
  </div>
</div>
<div class="mat-elevation-z8">
  <app-ng-table [tableData]="dataSource" [displayedColumns]="displayedColumns" (rowClick)="showDialog($event)">
  </app-ng-table>
</div>
<div class="amount-div">
  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="number" [(ngModel)]="totalAmount" class="example-right-align" disabled>
    <span matPrefix>₹​&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
</div>