.save-print-buttons {
  float: right;
}

.item-elements {
  width: 100%;
  margin-top: 24px;
  text-align: center;
}

mat-form-field {
  padding-right: 32px;
}

.amount-div {
  float: right;
  margin-top: 16px;
}

.time-and-bill {
  margin-top: 8px;
}

.time-and-bill app-ng-label {
  margin-right: 24px;
  font-size: 20px;
}

.mat-row:hover {
  cursor: pointer;
  background: darkgray;
}

.mat-elevation-z8 {
  height: 300px;
  overflow-x: scroll;
}

::ng-deep .warning {
  background-color: red;
}

::ng-deep .success {
  background-color: black;
}

::ng-deep .warning .mat-simple-snackbar-action {
  color: white !important;
}