<div class="parent-class">
    <div class="header">
        <div class="home">
            <a href="home-page">Home</a>
        </div>
    <div class="title">
        <label class="title-label">Billing Information</label>
    </div>    
    </div>
    
    <div class="time-and-bill">
       <label>{{date}}</label>
    </div>
    <div class="item-elements">
        <label for="bill-number">Bill Number</label>
        <input type="number" id="bill-number" >
        <label for="date">Date</label>
        <input type="date"  id="date">
        <input type="button"  value="Search">
        <input type="button"  value="Print">
    </div>
   <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="billNumber">
            <th mat-header-cell *matHeaderCellDef> billNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.billNumber}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="billDate">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.billDate}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDialog(row)"></tr>
        </table>
        </div>
    </div>