<h2 mat-dialog-title>Item Data</h2>
<div mat-dialog-content>
    <mat-form-field class="itemcode-form-field">
        <mat-label>Item Code</mat-label>
        <input matInput type="number" [(ngModel)]="itemCodeValue" disabled>
      </mat-form-field>
      <mat-form-field class="itemname-form-field">
        <mat-label>Item Name</mat-label>
        <input matInput type="text" [(ngModel)]="itemNameValue">
        <button mat-button *ngIf="itemNameValue" matSuffix mat-icon-button aria-label="Clear" (click)="itemNameValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="price-form-field">
        <mat-label>Item Price</mat-label>
        <input matInput type="number" [(ngModel)]="itemPriceValue">
        <button mat-button *ngIf="itemPriceValue" matSuffix mat-icon-button aria-label="Clear"
          (click)="itemPriceValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
<div class="mat-dialog-actions" mat-dialog-actions>
    <button mat-button>Update</button>
    <button mat-button mat-dialog-close>Close</button>
</div>