<div class="parent-class">
  <div class="save-print-buttons">
    <app-ng-button [btnIcon]="'save'" (click)="save()"></app-ng-button>
    <app-ng-button [btnIcon]="'print'" (click)="print()"></app-ng-button>
  </div>
  <div class="time-and-bill">
    <app-ng-label [label]=[date]></app-ng-label>
    <app-ng-label [label]=[time]></app-ng-label>
    <app-ng-label [label]=[billNumber]></app-ng-label>
  </div>
  <div class="item-elements">
    <mat-form-field class="itemname-form-field">
      <input type="text" aria-label="Number" matInput [formControl]="itemNameValue" [matAutocomplete]="auto">
      <mat-label>Item Name</mat-label>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="getItemData($event,option)" *ngFor="let option of filteredOptions | async"
          [value]="option.itemName">
          {{option.itemName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <app-ng-input [label]="'Item Code'" (value)="itemCodeValue=$event" [type]="number" [readonly]="true"
      [icon]="'close'" [model]="itemCodeValue"></app-ng-input>
    <mat-form-field class="quantity-form-field">
      <mat-label>Item Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="itemQuantiyValue" (change)="quantityChange()">
      <button mat-button *ngIf="itemQuantiyValue" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemQuantiyValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <app-ng-input [label]="'Item Price'" (value)="itemPriceValue=$event" [type]="number" [readonly]="true"
      [icon]="'close'" [model]="itemPriceValue"></app-ng-input>
  </div>
</div>
<div class="mat-elevation-z8">
  <app-ng-table [tableData]="dataSource" [displayedColumns]="displayedColumns">
  </app-ng-table>
</div>
<div class="amount-div">
  <mat-form-field appearance="fill">
    <!-- <app-ng-label [label]="'Amount'"></app-ng-label> -->
    <mat-label>Amount</mat-label>
    <input matInput type="number" [(ngModel)]="totalAmount" class="example-right-align" disabled>
    <!-- <app-ng-span [value]="'₹​&nbsp;'" [type]="matPrefix"></app-ng-span> -->
    <span matPrefix>₹​&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
</div>