.item-elements {
    width: 100%;
    margin-top: 8px;
    text-align: center;
}

.time-and-bill {
    margin-top: 8px;
}

.time-and-bill app-ng-label {
    font-size: 20px;
}

.mat-elevation-z8 {
    height: 350px;
    overflow-x: scroll;
}