<div class="parent-class">
  <div class="time-and-bill">
    <app-ng-label [label]=[date]></app-ng-label>
  </div>
  <div class="item-elements">
    <app-ng-input [label]="'Bill Number'" (value)="billNumber=$event" [type]="number" [icon]="'close'"
      [model]="billNumber"></app-ng-input>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <app-ng-button [btnIcon]="'search'"></app-ng-button>
    <app-ng-button [btnIcon]="'print'"></app-ng-button>
  </div>
  <div class="mat-elevation-z8">
    <app-ng-table [tableData]="dataSource" [displayedColumns]="displayedColumns" (rowClick)="showDialog($event)">
    </app-ng-table>
  </div>
</div>